---
pagination:
  data: collections.tagList
  size: 1
  alias: tag
permalink: /tags/{{ tag | slug }}/
layout: base.njk
---
<h1>Tagged "{{ tag }}"</h1>

<ul>
{% set taggedNotations = collections.taggedNotations[tag] %}
{% for notation in taggedNotations %}
  <li><a href="/notations/{{ notation.title | slug }}/">{{ notation.title }}</a></li>
{% endfor %}
</ul>

<p>See <a href="{{ '/tags/' | url }}">all tags</a>.</p>